<div class="wrapper">
  <div class=" page-header">
    <div class="bloc" >
      <div class="row">
        <div class="col-lg-6">
          <div class="zoom-gallery">
            <div class="row">
              <div class="col-lg-12">
                <a class="imgprinc" href="../../assets/img/gite/gite7.jpg" style="width:1000px; height: 400px;">
                  <img class="image-principale imgprinc" src="../../assets/img/gite/gite7.jpg">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="owl-carousel owl-theme">
                  <div><a href="../../assets/img/gite/gite2.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite2.jpg">
                  </a></div>
                  <div><a href="../../assets/img/gite/gite5.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite5.jpg">
                  </a></div>
                  <div><a href="../../assets/img/gite/gite8.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite8.jpg">
                  </a></div>
                  <div><a href="../../assets/img/gite/gite6.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite6.jpg">
                  </a></div>
                  <div><a href="../../assets/img/gite/gite4.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite4.jpg">
                  </a></div>
                  <div><a href="../../assets/img/gite/gite9.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/gite/gite9.jpg">
                  </a></div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3><span class="rotate">110€,220€,300€ </span> les <span class="rotate">2,5,7</span> jours </h3>
          <div class="description2">
            <p>Disponible de 1 à 4 personnes pour 2 nuits au minimum.</p><br/>
            <p>Situé au rez-de-chaussée de la villa, orienté plein sud avec vue sur la montagne, le jardin et la piscine.</p><br/>
            <p>Une chambre avec un lit de 160X200, commode, penderie. Canapé lit dans le salon, radio, télévison.</p><br/>
            <p>Cuisine entièrement équipée ( four, micro-ondes, ustensiles de cuisine, cafetière, bouilloire, frigo ...)</p><br/>
            <p>Salle d'eau avec lavabo, WC, douche à l'italienne, sèche-serviettes et sèche-cheveux.</p><br/>
            <br/>
            <br/>


            <div class="row">
              <div class="col-lg-6">
                <h2>Informations utiles</h2><br/>
                <ul>
                  <li><p>Accès à la piscine, terrasse et barbecue.</p></li>
                  <li><p>Accès à la buanderie avec lave linge et sèche linge. </p></li>
                  <li><p>Serviettes de toilette, de bain et draps fournis</p></li>
                  <li><img class="imgwifi" src="../../assets/img/wifi.png"> </li>
                </ul><br/>

              </div>
              <div class="col-lg-6">
                <div class="brand2">
                  <button class="btn2 draw-border" routerLink="../réservation">Réserver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
