<div class="wrapper">
  <div class="page-header">
    <div class="bloc">
      <div class="row">
       <div class="col-lg-6">
          <div class="zoom-gallery">
            <div class="row">
              <div class="col-lg-12">
                <a class="imgprinc" href="../../assets/img/chambres/chambre.jpg">
                  <img class="image-principale imgprinc" src="../../assets/img/chambres/chambre.jpg">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="owl-carousel owl-theme">
                  <div><a href="../../assets/img/chambres/chambre4.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre4.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/chambre5.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre5.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/chambre7.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre7.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/chambre6.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre6.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/chambre3.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre3.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/chambre2.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/chambre2.jpg">
                  </a></div>
                  <div><a href="../../assets/img/chambres/dej.jpg" style="width:100px;height:100px;">
                    <img class="imgsec" src="../../assets/img/chambres/dej.jpg">
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3>63€ / nuit</h3>

          <div class="description2">
            <p>Orientée plein sud, avec balcon, vue sur la montagne, le jardin et la piscine.</p><br/>
            <p>Un lit de 160X200, commode, penderie, bouilloire</p><br/>
            <p>Equipée d'une salle de bain et sanitaire privatif.</p><br/>
            <p>Une deuxième chambre est également disponible ( lit 140x190 ). Dans ce cas, la salle de bain sera commune</p><br/>
            <p>Le petit déjeuner est composé de thé, café, chocolat, lait, laitages , jus de fruits, pain, beurre, fruits de saison, confiture maison… enfin tout pour le plaisir de vos papilles.</p><br/><br/>
            <div class="row">
              <div class="col-lg-6">
               <h2>Informations utiles</h2><br/>
                <ul>
                  <li><p>Petit déjeuner compris</p></li>
                  <li><img class="imgwifi" src="../../assets/img/wifi.png"> </li>
                </ul> <br/>

              </div>
              <div class="col-lg-6">
                <button class="btn2 draw-border" routerLink="../réservation">Réserver</button>
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
