<div class="wrapper">
    <div class=" page-header clear-filter" filter-color="black">
      <div class="headerwrap page-header-image rellax-header "data-rellax-speed="-7">
      </div>
      <div class="container">
        <div class="content-center">
          <h1>Brasserie le Rond Point</h1>
          <img id="logo" src="../../assets/img/logo.png" >
          <h3>Venez profiter<span class="rotate"> d'un repas de qualité, d'un service rapide et chaleureux, d'un cadre agréable et convivial</span></h3>
          <img id="arrow" class="smooth-scoll" src="../../assets/img/double-arrow.png">
        </div>
      </div>
    </div>
  </div>
  <div id="pres" class="main">
    <div class="container">
  <p>La brasserie Le Rond Point présente un point de départ idéal pour découvrir la région et sa richesse
    patrimoniale. <br/><br/>
    Vous profiterez des espaces naturels préservés et de diverses activités sportives et ludiques
    pour votre plus grand plaisir.<br/><br/>

    Pour un week-end ou plus, réservez dès maintenant vos prochaines vacances dans notre gite ou
    dans notre suite de charme.</p>
</div>
    <div id="pres" class="main">
      <div class="row">
        <div class="col-lg-6">
        <figure class="snip1104 red">
            <img src="../../assets/img/restau.jpg" />
            <figcaption>
              <h2>La  <span> Carte</span></h2>
            </figcaption>
            <a routerLink="../carte"></a>
          </figure>
        </div>
        <div class="col-lg-6">
          <figure class="snip1104 blue"><img src="../../assets/img/vin.jpg" />
            <figcaption>
              <h2>Les  <span> Vins</span></h2>
            </figcaption>
            <a routerLink="../vin"></a>
          </figure>
        </div>
      </div>
  </div>
  </div>
  