<div class="wrapper">
  <div class=" page-header clear-filter" filter-color="orange">
    <div class="headerwrap page-header-image rellax-header "data-rellax-speed="-7">
    </div>
    <div class="container">
      <div class="content-center">
        <h1>L'Essen'ciel</h1>
        <img id="logo" src="../../assets/img/essenlogo.png" >
        <h3>Venez profiter<span class="rotate"> d'un cadre merveilleux, d'un accueil chaleureux, d'une vue à couper le souffle</span></h3>
        <img id="arrow" class="smooth-scoll" src="../../assets/img/double-arrow.png">
      </div>
    </div>
  </div>
</div>
  <div id="pres" class="main">
    <div class="container">
      <p>Situé en plein coeur des Hautes Pyrénées face aux montagnes et entouré de forêts, L&#39;ESSEN&#39;CIEL* vous accueille d'avril à novembre pour des vacances avec des moments de détente et de calme en pleine nature !</p>
      <div class="main-content">
      <div class="owl-carousel owl-theme">
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext1.jpg" >
        </div>

        <div class="item imgbase2" >
          <img class="imgbase" src="../../assets/img/exterieur/ext2.jpg" >
        </div>
        <div class="item imgbase">
         <img class="imgbase" src="../../assets/img/exterieur/ext3.jpg" >
        </div>
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext4.jpg" >
        </div>
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext5.jpg" >
        </div>
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext6.jpg" >
        </div>
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext7.jpg" >
        </div>
        <div class="item imgbase" >
          <img class="imgbase" src="../../assets/img/exterieur/ext8.jpg" >
        </div>

      </div>
        <div class="owl-theme">
          <div class="owl-controls">
            <div class="custom-nav owl-nav"></div>
          </div>
        </div>
      </div>
      <p>L&#39;ESSEN&#39;CIEL* présente un point de départ idéal pour découvrir la région et sa richesse
        patrimoniale. <br/><br/>
        Vous profiterez des espaces naturels préservés et de diverses activités sportives et ludiques
        pour votre plus grand plaisir.<br/><br/>

        Pour un week-end ou plus, réservez dès maintenant vos prochaines vacances dans notre gite ou
        une de nos 2 chambres d&#39;hôtes de charme.</p>
    </div>
    <div class="row">

      <div class="col-lg-6">
      <figure class="snip1104 red">
          <img src="../../assets/img/chambres/chambre.jpg" />
          <figcaption>
            <h2>Chambres  <span> d'hôtes</span></h2>
          </figcaption>
          <a routerLink="../chambres"></a>
        </figure>
      </div>
      <div class="col-lg-6">
        <figure class="snip1104 blue"><img src="../../assets/img/gite/gite8.jpg" />
          <figcaption>
            <h2>Le  <span> Gite</span></h2>
          </figcaption>
          <a routerLink="../gite"></a>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="container">
      <div class="information">
        <h1>Informations</h1>
        <ol class="gradient-list">
          <li><p>Ouverture en avril / Fermeture en novembre</p></li>
          <li><p>Les animaux ne sont pas acceptés</p></li>
          <li><p>Toutes les fenêtres sont équipées de volets roulants et de moustiquaires</p></li>
          <li><p>Nous proposons des vélos électriques en location. Il est également possible d'emprunter des livres et des jeux de sociétés</p></li>
        </ol>

      </div>
    </div>
  </div>
    <div class="moto">
    <h1>Relais motards</h1><br/>
    <p>Nos amis les motards sont les bienvenus !! <i class="fas fa-motorcycle"></i><i class="fas fa-motorcycle"></i><i class="fas fa-motorcycle"></i></p>
    <p>Un garage sécurisé pour vos motos, atelier mécanique, prêt d'outils, etc...</p>
    </div>
</div>
