// FONTS /////////////////////////////////////////////////////////////////////////////////////
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
@font-face {
  font-family: 'Tommy';
  src: url('assets/fonts/Tommy.otf');

  font-family: 'Tommy-light';
  src: url('assets/fonts/Tommy-light.otf');

  font-family: 'Tommy-medium';
  src: url('assets/fonts/Tommy-medium.otf');

  font-family: 'Tommy-soft';
  src: url('assets/fonts/Tommy-soft.otf');

}
//
// PAGE INDEX ///////////////////////////////////////////////////////////////////////////////////////////////

// bouton smooth

.content-center h1{font-size: 70px;}
.content-center h3{padding-top:20vh;}
.smooth-scoll{padding-top: 10px;}
.smooth-scoll:hover{
  cursor: pointer;
}
///////////////////////////////REGLEMENT//////////////////////////////////
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lighten(#f96332, 6%);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.reglement{
  margin: 7% 25%;
}
.reglement h1 {
  text-decoration: underline;
  font: bold 25px 'Tommy', sans-serif;
}
.collapsible {
  line-height: 1.5;
  font: 700 1.2rem 'Tommy', sans-serif;
  letter-spacing: 0.05rem;

  &:focus { outline: 2px dotted #f96332; }
  float: inside;
  background-color: antiquewhite;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.taille{
  margin: 0% 25%;
}
.content {
  padding: 0 50px;
  background-color: antiquewhite;
  max-height: 0;
  margin-bottom: 50px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  font: normal 25px "Tommy",sans-serif;
  font-weight: 900;
  content: "\f063"; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}


.act:after {
  font: normal 25px "Tommy",sans-serif;
  font-weight: 900;
  content: "\f062"; /* Unicode character for "plus" sign (+) */ /* Unicode character for "minus" sign (-) */
}

// main
.main{
  background-color: antiquewhite;
}
.main p{
  padding: 70px 20px 20px 50px;
  color: black;
  font: normal 25px 'Tommy', sans-serif;
  letter-spacing: 1px;
}

.imgactivite{
  position: center;
  margin: 20px;
}

// PAGE ACTIVITES /////////////////////////////////////////////////////////////////////////////////////
.bloc2{
  z-index: 1;
  height: 200%;
  color: black;
  position: relative;
  background-color: antiquewhite;
  padding: 120px 20px;
  text-align: center;
}
.bloc2 p , h1{  font: normal 25px 'Tommy', sans-serif;}
.bloc2 h1{
  font-weight: bold;
  font-size: 35px;
}
.bloc2 h2{
  text-decoration: underline;
  font: bold 25px 'Tommy', sans-serif;
}
.bloc2 ul{
  list-style-type: none;
  margin-top: 50px;
}
.bloc2  a{
  font: normal 25px 'Tommy', sans-serif;
  color : #f96332;
}

// PAGE CHAMBRES ET GITE /////////////////////////////////////////////////////////////////////////////////////

.bloc{
  z-index: 1;
  height: 100vh;
  max-height: 1050px;
  color: black;
  position: relative;
  background-color: antiquewhite;
  padding: 120px 20px;
  text-align: justify;
}
.bloc p {  font: normal 20px 'Tommy-light', sans-serif;}
.bloc h1{font: bold 25px 'Tommy-soft', sans-serif;}
.bloc h2{
  text-decoration: underline;
  font: bold 25px 'Tommy', sans-serif;
}
.bloc h3{
  font: bold 40px 'Tommy', sans-serif;
}
.bloc5{
  z-index: 1;
  height: 100vh;
  max-height: 1050px;
  color: black;
  position: relative;
  background-color: white;
  padding: 120px 20px;
  text-align: justify;
}
.bloc5 p {  font: normal 20px 'Tommy-light', sans-serif;}
.bloc5 h1{font: bold 25px 'Tommy-soft', sans-serif;}
.bloc5 h2{
  text-decoration: underline;
  font: bold 25px 'Tommy', sans-serif;
}
.bloc5 h3{
  font: bold 40px 'Tommy', sans-serif;
}
.owl-carousel{margin-top: 20px; margin-left: 0.5em;}

.description2{margin: 40px 10px}

#arrow{
  width:128px;
  height: 80px;
}
.image-principale {
  box-shadow: 0px 0px 0px 10px rgba(249, 99, 50, .3);
  transition: box-shadow 0.1s linear;
  margin: 0.5em;
}

.image-principale:hover { box-shadow: 0px 0px 0px 10px #f96332;}
.zoom-gallery img:hover{opacity: 0.5;}

// BOUTON RESERVER //////////////////////////////////////////////////////////////////////////////////////


@mixin btn-border-drawing($color: #ccc, $hover: #f96332, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(black, #f96332, 4px, bottom, right);
}

.btn2 {
  margin: 25% 25%;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Tommy', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;

  &:focus { outline: 2px dotted #f96332; }
}

// MAGIC POPUPS//////////////////////////////////////////////////////////////////////////////////////

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
figure.snip1104 {
  font: normal 25px 'Tommy-light', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 20px;
  min-width: 600px;
  max-width: 600px;
  max-height: 700px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.imgwifi{
  margin-left: 100px;
  width:80px;
  height: 80px;
}
figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1104.red {
  background: #581a14;
  float : right;
}
figure.snip1104.red h2 {
  background: #36100c;
}
figure.snip1104.blue {
  background: #123851;
  float : left;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}
figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}


#pres .container .owl-item img{
  opacity : 0.4;
}

#pres .container .owl-item.center img{
  opacity : 1;
}

// PAGE RESERVER /////////////////////////////////////////////////////////////////////////////////////

.container-contact100 {
  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;

}
.wrap-contact100 {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.contact100-more2 {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.contact100-more2::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.contact100-more {
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.contact100-form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}
.container-contact100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
  display: -ms-flexbox;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #00ad5f;

  font-family: 'Tommy';
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #f96332;
}
.wrap-input100 {
  margin-top: 20px;
  width: 85%;
  position: relative;
}
.imgprinc{
  width: 1000px;
  height:600px;
}
.imgsec{
  width: 100px;
  height: 200px;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}

.rs2-wrap-input100 {
  border-left: none;
}
.main-content {
  position: relative;

  .owl-theme {
    .custom-nav {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;

      .owl-prev, .owl-next {
        position: absolute;
        height: 100px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;

        i {
          font-size: 4em;
          color: black;
        }
        i:hover {
          font-size: 5em;
          color: #f96332;
        }
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}
ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;

  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(135deg, #f96332 0%, rgba(249, 99, 50, .8) 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }


    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba(#f96332, $i * 0.2) 0%, rgba(lighten(#f96332, 6%), $i * 0.2) 100%);
      }
    }

    + li {
      margin-top: 2rem;
    }
  }
}

.moto{
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 20px;
  margin : 0 50px 50px 20px;
  border: 25px solid #f96332;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.moto h1{
  padding-top: 30px;
  font: bold 35px 'Tommy-light', sans-serif;
  text-align: center;
}
.moto p{
  padding: 10px 0 0 10px;
  color: black;
  font: normal 25px 'Tommy', sans-serif;
  letter-spacing: 1px;
}
.information{
  background-color: antiquewhite;
}
.information h1{
  padding-top: 30px;
  font: bold 35px 'Tommy-light', sans-serif;
  text-align: center;
}
.information p{
  padding: 10px 0 0 10px;
  color: black;
  font: normal 25px 'Tommy', sans-serif;
  letter-spacing: 1px;
}

.label-input100 {
  font: bold 15px 'Tommy-medium', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font:normal 18px 'Tommy-soft', sans-serif;
  color: #666666;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}


textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.select100{
  width: 50%;
  margin: 20px 0 0 0;

}
.select10{
  width :100%;
  margin: 20px 0 0 0;
}
.select10 select{
  min-height: 55px;
  color: #666666;
  font: normal 18px 'Tommy-soft', sans-serif;
}
.form-control {
  border-radius: 0 !important;
  min-height: 55px;
  color: #666666;
  font: normal 18px 'Tommy-soft', sans-serif;
}

.clickable { cursor: pointer; }


.select100 select{
  min-height: 55px;
  color: #666666;
  font: normal 18px 'Tommy-soft', sans-serif;
}
////// DATEPICKER //////////////////////////////////////////////////
.selectdate{
  margin: 20px 0 0 0;
  width:35%;
}
/*FOCUS INPUTS---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 5px solid #f96332;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }

  .contact100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}



.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #c80000;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font:normal 15px 'Tommy', sans-serif;
  color: #fff;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  font: normal 25px "Font Awesome 5 Free",sans-serif;
  font-weight: 900;
  content: "\f00d";
  display: block;
  position: absolute;
  color: #c80000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  margin-left: 10px;
  font:normal 18px 'Tommy', sans-serif;
  line-height: 1.2;
  color: #fff;
}
.txt1modif {
  margin: 0 0 0 0;
  font:normal 18px 'Tommy', sans-serif;
  line-height: 1.2;
  color: #fff;
}
.txt2 {
  font:normal 15px 'Tommy', sans-serif;
  line-height: 1.6;
  color: #999999;
}

.txt3 {
  font:normal 15px 'Tommy', sans-serif;
  line-height: 1.6;
  color: #999999;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}
.flex-col-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.flex-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.p-b-47 {padding-bottom: 47px;}
.p-b-20 {padding-bottom: 20px;}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.dis-none {display: none;}
.dis-block {display: block;}
.dis-inline {display: inline;}
.dis-inline-block {display: inline-block;}
.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.imgbase{
  width:850px;
  height: 660px;
}
.imgbase2{
  width:400px;
}
.white-popup {
  position: relative;
  background: transparent;
  padding: 40px;
  width: 40%;
  margin: 20px auto;
  transition: 1s all;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .reglement{
    margin: 0 10px;
  }
  .reglement h1 {
    text-decoration: underline;
    font: bold 20px 'Tommy', sans-serif;
    text-align: left;
  }
  .reglement p {
    font: normal 12px 'Tommy', sans-serif;
    text-align: left;
    letter-spacing: 1px;
  }
  .main p{
    padding: 70px 20px 20px 50px;
    color: black;
    font: normal 10px 'Tommy', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
  }
  .navbar .navbar-nav .nav-link:not(.btn){
    padding: 0 0 0 0;
  }
 .nav-item {
   margin: 0 0 0 0;
   border-radius: 30px;
   font-size: 6px;
   padding: 0 0 0 0;
 }
  .navbar .navbar-nav .nav-link:not(.btn) i.fab, .navbar .navbar-nav .nav-link:not(.btn) i.fas, .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons{
    font-size: 18px;
    margin-left: 20px;
    width: 18px;
  }
  .mr-auto{
    margin-right: 100px;
  }
  .imgbase{
    width:300px;
    height: 300px;
  }
  .imgbase2{
    width:150px;
  }
  .imgwifi{
    width:40px;
    height: 40px;
  }
  .imgsec{
    width: 50px;
    height: 100px;
  }


  .content-center #arrow{
    width:50px;
    height: 40px;
  }
  .content-center h3{
    font-size: 15px;
  }
  .content-center h1{
    font-size: 25px;
  }
  .content-center #logo{
    width:220px;
    height: 140px;
  }
  figure.snip1104 {
    font: normal 5px 'Tommy-light', sans-serif;
    margin: 0 0 5px 80px ;
    min-width: 200px;
    max-width: 200px;
    max-height: 400px;
  }
  figure.snip1104.red {
    float : none;
  }

  figure.snip1104.blue {
    float: none;
  }
  figure.snip1104 h2 span {
    font-size: 10px;
  }
  figure.snip1104 h2 {
    font-size:10px;
  }
  .imgprinc{
    width: 500px;
    height:250px;
  }

  .bloc{
    z-index: 1;
    height: 190vh;
    max-height: 2800px;
    color: black;
    position: relative;
    background-color: antiquewhite;
    padding: 120px 20px;
    text-align: justify;
  }
  .bloc p {  font: normal 12px 'Tommy-light', sans-serif;}
  .bloc h1{font: bold 12px 'Tommy-soft', sans-serif;}
  .bloc h2{
    text-decoration: underline;
    font: bold 12px 'Tommy', sans-serif;
  }
  .bloc h3{
    font: bold 15px 'Tommy', sans-serif;
  }
  .btn2 {
    margin: 0 0 20px 80px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Tommy', sans-serif;
    padding: 0.5em 1em;
    letter-spacing: 0.05rem;

    &:focus { outline: 2px dotted #f96332; }
  }
  .bloc2{
    z-index: 1;
    height: 190vh;
    max-height: 2800px;
    color: black;
    position: relative;
    background-color: antiquewhite;
    padding: 120px 20px;
    text-align: center;
  }
  .bloc2 p , h1{  font: normal 12px 'Tommy', sans-serif;}
  .bloc2 h1{
    font-weight: bold;
    font-size: 25px;
  }
  .bloc2 h2{
    text-decoration: underline;
    font: bold 12px 'Tommy', sans-serif;
  }
  .bloc2 ul{
    list-style-type: none;
    margin-top: 30px;
  }
  .bloc2  a{
    font: normal 12px 'Tommy', sans-serif;
    color : #f96332;
  }
  .imgactivite{
    position: center;
    margin: 0px;
  }
  .information h1{
    padding-top: 30px;
    font: bold 18px 'Tommy-light', sans-serif;
    text-align: center;
  }
  .information p{
    padding: 10px 0 0 10px;
    color: black;
    font: normal 12px 'Tommy', sans-serif;
    letter-spacing: 1px;
  }
  ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;

    > li {
      background: white;
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      @extend %boxshadow;
      counter-increment: gradient-counter;
      margin-top: 1rem;
      min-height: 1.5rem;
      padding: 1rem 0.5rem 0.5rem 1.5rem;
      position: relative;

    }
  }
  .moto{
    background-color: antiquewhite;
    text-align: center;
    padding-bottom: 20px;
    margin : 0 20px 20px 10px;
    border: 25px solid #f96332;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }

  .moto h1{
    padding-top: 30px;
    font: bold 18px 'Tommy-light', sans-serif;
    text-align: center;
  }
  .moto p{
    padding: 10px 0 0 10px;
    color: black;
    font: normal 12px 'Tommy', sans-serif;
    letter-spacing: 1px;
  }
  .selectdate{
    margin: 20px 0 0 0;
    width:40%;
  }
  .label-input100 {
    font: bold 10px 'Tommy-medium', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  input.input100 {
    height: 30px;
  }
  .wrap-contact100 {
    width: 80%;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .wrap-contact100 {
    width: 80%;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  }
  .bloc{
    z-index: 1;
    height: 190vh;
    max-height: 2800px;
    color: black;
    position: relative;
    background-color: antiquewhite;
    padding: 120px 20px;
    text-align: justify;
  }
  .btn2 {
    margin: 0 0 20px 250px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Tommy', sans-serif;
    padding: 0.5em 1em;
    letter-spacing: 0.05rem;

    &:focus { outline: 2px dotted #f96332; }
  }
}




